<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingyuechunqiu.mediapicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".feature.main.container.MediaPickerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MediaPickerTheme" />
    </application>
</manifest>
